# Port Statistics

This notebook develops and explores the various port statistics used in the [Port Performance Project](https://github.com/epistemetrica/Port-Performance-Project). See the README.md file in the main directory for more info.

The primary data set comes from a combination of AIS vessel data and port data, processed in the Port Geodata notebook.

Statistics and final dataframes developed here are used in the Port Performance Dashboard.

In [2]:
#prelims
import polars as pl
import polars.selectors as cs
import pandas as pd
import geopandas as gpd
import time
import plotly.express as px
import matplotlib.pyplot as plt
import contextily as cx
import numpy as np
import glob
import folium
from folium.plugins import HeatMap

#enable string cache for polars categoricals
pl.enable_string_cache()
#display settings
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pl.Config(tbl_rows=100);

## Load Data from geodata_prep notebook

In [3]:
#load and inspect
lf = pl.scan_parquet('port data/dashboard/main.parquet')
display(lf.describe())
lf.limit(5).collect()

shape: (9, 30)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ docking_i ┆ mmsi      ┆ time      ┆ … ┆ dock_lat  ┆ dock_lon  ┆ port_lat  ┆ port_lon │
│ ---       ┆ d         ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆ ---       ┆ str       ┆ str       ┆   ┆ f64       ┆ f64       ┆ f64       ┆ f64      │
│           ┆ f64       ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 2.300198e ┆ 2300198   ┆ 2300198   ┆ … ┆ 2.300198e ┆ 2.300198e ┆ 2.300198e ┆ 2.300198 │
│           ┆ 6         ┆           ┆           ┆   ┆ 6         ┆ 6         ┆ 6         ┆ e6       │
│ null_coun ┆ 0.0       ┆ 0         ┆ 0         ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ 0.0      │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ 3.9815e6  ┆ null      ┆ 2021-04-1 ┆ … ┆ 32.993502 ┆ -98.50447 ┆ 32.991448 ┆ -98.5051 │
│           ┆           ┆           ┆ 7 10:11:4 ┆   ┆           ┆ 2         ┆           ┆ 29       │
│           ┆           ┆           ┆ 8.299924  ┆   ┆           ┆           ┆           ┆          │
│ std       ┆ 2.3018e6  ┆ null      ┆ null      ┆ … ┆ 6.149815  ┆ 20.106922 ┆ 6.149675  ┆ 20.10581 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 2        │
│ min       ┆ 139.0     ┆ 205042000 ┆ 2018-01-0 ┆ … ┆ 17.936081 ┆ -166.5344 ┆ 17.938939 ┆ -166.549 │
│           ┆           ┆           ┆ 1         ┆   ┆           ┆ 4         ┆           ┆ 916      │
│           ┆           ┆           ┆ 00:11:06  ┆   ┆           ┆           ┆           ┆          │
│ 25%       ┆ 1.890288e ┆ null      ┆ 2019-08-2 ┆ … ┆ 29.73497  ┆ -118.2492 ┆ 29.747023 ┆ -118.268 │
│           ┆ 6         ┆           ┆ 1         ┆   ┆           ┆ 01        ┆           ┆ 099      │
│           ┆           ┆           ┆ 11:34:09  ┆   ┆           ┆           ┆           ┆          │
│ 50%       ┆ 3.986812e ┆ null      ┆ 2021-05-1 ┆ … ┆ 32.089076 ┆ -94.09143 ┆ 32.084711 ┆ -94.0949 │
│           ┆ 6         ┆           ┆ 2         ┆   ┆           ┆ 8         ┆           ┆ 85       │
│           ┆           ┆           ┆ 23:37:49  ┆   ┆           ┆           ┆           ┆          │
│ 75%       ┆ 6.001762e ┆ null      ┆ 2022-10-2 ┆ … ┆ 37.794167 ┆ -80.60555 ┆ 37.806665 ┆ -80.6081 │
│           ┆ 6         ┆           ┆ 2         ┆   ┆           ┆ 6         ┆           ┆ 5        │
│           ┆           ┆           ┆ 17:05:24  ┆   ┆           ┆           ┆           ┆          │
│ max       ┆ 7.99451e6 ┆ 725019920 ┆ 2024-09-3 ┆ … ┆ 61.24306  ┆ -65.83495 ┆ 61.23778  ┆ -65.8362 │
│           ┆           ┆           ┆ 0         ┆   ┆           ┆ 2         ┆           ┆ 26       │
│           ┆           ┆           ┆ 23:53:26  ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

shape: (5, 29)
┌────────────┬───────────┬─────────────┬───────┬───┬───────────┬────────────┬──────────┬───────────┐
│ docking_id ┆ mmsi      ┆ time        ┆ speed ┆ … ┆ dock_lat  ┆ dock_lon   ┆ port_lat ┆ port_lon  │
│ ---        ┆ ---       ┆ ---         ┆ ---   ┆   ┆ ---       ┆ ---        ┆ ---      ┆ ---       │
│ u32        ┆ str       ┆ datetime[μs ┆ f64   ┆   ┆ f64       ┆ f64        ┆ f64      ┆ f64       │
│            ┆           ┆ ]           ┆       ┆   ┆           ┆            ┆          ┆           │
╞════════════╪═══════════╪═════════════╪═══════╪═══╪═══════════╪════════════╪══════════╪═══════════╡
│ 139        ┆ 205042000 ┆ 2022-12-12  ┆ 0.2   ┆ … ┆ 33.757222 ┆ -118.21888 ┆ 33.73957 ┆ -118.2095 │
│            ┆           ┆ 13:14:21    ┆       ┆   ┆           ┆            ┆          ┆           │
│ 139        ┆ 205042000 ┆ 2022-12-11  ┆ 1.1   ┆ … ┆ 33.757222 ┆ -118.21888 ┆ 33.73957 ┆ -118.2095 │
│            ┆           ┆ 15:05:03    ┆       ┆   ┆           ┆            ┆          ┆           │
│ 139        ┆ 205042000 ┆ 2022-12-11  ┆ 0.4   ┆ … ┆ 33.757222 ┆ -118.21888 ┆ 33.73957 ┆ -118.2095 │
│            ┆           ┆ 16:26:07    ┆       ┆   ┆           ┆            ┆          ┆           │
│ 139        ┆ 205042000 ┆ 2022-12-12  ┆ 1.3   ┆ … ┆ 33.757222 ┆ -118.21888 ┆ 33.73957 ┆ -118.2095 │
│            ┆           ┆ 05:32:10    ┆       ┆   ┆           ┆            ┆          ┆           │
│ 139        ┆ 205042000 ┆ 2022-12-12  ┆ 0.0   ┆ … ┆ 33.757222 ┆ -118.21888 ┆ 33.73957 ┆ -118.2095 │
│            ┆           ┆ 06:17:11    ┆       ┆   ┆           ┆            ┆          ┆           │
└────────────┴───────────┴─────────────┴───────┴───┴───────────┴────────────┴──────────┴───────────┘

## Call ID vs Docking ID

In [ ]:
#count simultaneous port waters
df = (
    lf.select('which_port_waters').collect()
    .with_columns(
        port_waters1 = (
            pl.col('which_port_waters').str.split('|').list.get(0, null_on_oob=True)
        ),
        port_waters2 = (
            pl.col('which_port_waters').str.split('|').list.get(1, null_on_oob=True)
        ),
    )
)

df.describe()

shape: (9, 4)
┌────────────┬──────────────────────────┬──────────────────────────┬──────────────────────┐
│ statistic  ┆ which_port_waters        ┆ port_waters1             ┆ port_waters2         │
│ ---        ┆ ---                      ┆ ---                      ┆ ---                  │
│ str        ┆ str                      ┆ str                      ┆ str                  │
╞════════════╪══════════════════════════╪══════════════════════════╪══════════════════════╡
│ count      ┆ 2164665                  ┆ 2164665                  ┆ 495838               │
│ null_count ┆ 135533                   ┆ 135533                   ┆ 1804360              │
│ mean       ┆ null                     ┆ null                     ┆ null                 │
│ std        ┆ null                     ┆ null                     ┆ null                 │
│ min        ┆ Albany Port District, NY ┆ Albany Port District, NY ┆ Port of Longview, WA │
│ 25%        ┆ null                     ┆ null                     ┆ null                 │
│ 50%        ┆ null                     ┆ null                     ┆ null                 │
│ 75%        ┆ null                     ┆ null                     ┆ null                 │
│ max        ┆ Yabucoa, PR              ┆ Yabucoa, PR              ┆ Texas City, TX       │
└────────────┴──────────────────────────┴──────────────────────────┴──────────────────────┘

In [20]:
df

shape: (79, 2)
┌─────────────────────────────────┬────────┐
│ which_port_waters               ┆ count  │
│ ---                             ┆ ---    │
│ str                             ┆ u32    │
╞═════════════════════════════════╪════════╡
│ Greater Lafourche Port, LA      ┆ 2376   │
│ Nawiliwili, Kaua'i, HI          ┆ 593    │
│ Port of Savannah, GA            ┆ 43449  │
│ Kahului, Maui, HI               ┆ 1151   │
│ Texas City, TX                  ┆ 50195  │
│ New Orleans, LA                 ┆ 68749  │
│ Stockton, CA                    ┆ 46179  │
│ Port of Kalama, WA              ┆ 18346  │
│ San Diego Unified Port, CA      ┆ 22982  │
│ Port of Longview, WA            ┆ 400    │
│ Port of Alaska, AK              ┆ 2058   │
│ Port of Everett, WA             ┆ 7758   │
│ Port of Pascagoula, MS          ┆ 4268   │
│ Sacramento-Yolo Port, CA        ┆ 17307  │
│ Jacksonville, FL                ┆ 4001   │
│ Redwood City, CA                ┆ 6078   │
│ Albany Port District, NY        ┆ 6922   │
│ PortMiami, FL                   ┆ 25744  │
│ South Louisiana, LA, Port of    ┆ 52624  │
│ Port of Palm Beach District, F… ┆ 22616  │
│ Kalaeloa Barbers Point, HI      ┆ 16624  │
│ Unalaska Island, AK             ┆ 2537   │
│ Anacortes, WA                   ┆ 11303  │
│ Bridgeport, CT                  ┆ 209    │
│ Boston, MA                      ┆ 6002   │
│ Port Everglades, FL             ┆ 86638  │
│ Galveston, TX                   ┆ 93578  │
│ Valdez, AK                      ┆ 248    │
│ Virginia, VA, Port of           ┆ 54050  │
│ Baltimore, MD                   ┆ 110888 │
│ Philadelphia Regional Port, PA  ┆ 12514  │
│ New York, NY & NJ               ┆ 26117  │
│ Port of Providence, RI          ┆ 19150  │
│ Portland, ME                    ┆ 6832   │
│ Tacoma, WA                      ┆ 19116  │
│ San Francisco Port, CA          ┆ 66852  │
│ Port of Greater Baton Rouge, L… ┆ 25185  │
│ Port of Portland, OR            ┆ 32     │
│ Richmond, CA                    ┆ 46961  │
│ Port Arthur, TX                 ┆ 69411  │
│ Port of Oakland, CA             ┆ 51323  │
│ Brownsville, TX                 ┆ 15364  │
│ Virgin Islands - St. Croix, VI  ┆ 442    │
│ Calhoun Port Authority, TX      ┆ 2459   │
│ Honolulu, O'ahu, HI             ┆ 30421  │
│ Corpus Christi, TX              ┆ 58219  │
│ Seattle, WA                     ┆ 36259  │
│ Grays Harbor Port District, WA  ┆ 11     │
│ Plaquemines Port District, LA   ┆ 451    │
│ Port of Gulfport, MS            ┆ 6272   │
│ Coos Bay OR, Port of            ┆ 2912   │
│ Beaumont, TX                    ┆ 59547  │
│ Port of Los Angeles, CA         ┆ 362500 │
│ Lake Charles Harbor District, … ┆ 3723   │
│ Tampa Port Authority, FL        ┆ 126    │
│ Yabucoa, PR                     ┆ 7863   │
│ South Jersey Port Corp, NJ      ┆ 16983  │
│ Port of Long Beach, CA          ┆ 368149 │
│ Port of Vancouver USA, WA       ┆ 33632  │
│ Portsmouth, NH                  ┆ 3811   │
│ null                            ┆ 135533 │
│ Morehead City, NC               ┆ 16019  │
│ Canaveral Port District, FL     ┆ 22992  │
│ Guaynabo, PR                    ┆ 45234  │
│ Port Freeport, TX               ┆ 13266  │
│ San Juan, PR                    ┆ 45250  │
│ Manatee County Port, FL         ┆ 26298  │
│ Oxnard Harbor District, CA      ┆ 18234  │
│ Port of Charleston, SC          ┆ 9372   │
│ Guayama, PR                     ┆ 1017   │
│ Port of Brunswick, GA           ┆ 21936  │
│ Wilmington, NC                  ┆ 26509  │
│ Orange County Nav District, TX  ┆ 4392   │
│ Panama City Port Authority, FL  ┆ 2094   │
│ New Haven, CT                   ┆ 13869  │
│ Houston Port Authority, TX      ┆ 105876 │
│ Wilmington, DE                  ┆ 21105  │
│ Searsport, ME                   ┆ 3273   │
│ Mobile, AL                      ┆ 125257 │
└─────────────────────────────────┴────────┘

In [ ]:
#collapse docking ids from the same dock in the same day
lf1 = (
    lf
    .with_columns(
        pl.when(
            #the status is docked and
            (pl.col('status')==5) &
            #the same vessel is associated with the same dock and
            (pl.col('dock_id')==pl.col('dock_id').shift()).over('mmsi') &
            #the docking_id changes and
            (pl.col('docking_id')!=pl.col('docking_id').shift()).over('mmsi') &
            #the time difference is less than 1 day
            ((pl.col('time')-pl.col('time').shift())<86400)
        )
        #then set the docking_id to the previous docking_id
        .then(pl.col('docking_id').shift())
        #otherwise keep the original docking_id
        .otherwise(pl.col('docking_id')).alias('docking_id')
    )
    #unify docking ids that occur between same docking ids
    #ensure sorting
    .sort('mmsi','time')
)

lf1.limit(5).collect()

In [18]:
id = pl.DataFrame({"docking_id": [1, 2, 2, 2, 2, 3, 3, 2, 2]})
id

shape: (15, 1)
┌────────────┐
│ docking_id │
│ ---        │
│ i64        │
╞════════════╡
│ 1          │
│ 2          │
│ 2          │
│ 2          │
│ 3          │
│ 3          │
│ 2          │
│ 2          │
│ 4          │
│ 4          │
│ 4          │
│ 4          │
│ 5          │
│ 5          │
│ 5          │
└────────────┘

In [14]:
df = lf1.select('mmsi', 'time', 'docking_id').collect()
df.head()

shape: (5, 3)
┌───────────┬─────────────────────┬────────────┐
│ mmsi      ┆ time                ┆ docking_id │
│ ---       ┆ ---                 ┆ ---        │
│ str       ┆ datetime[μs]        ┆ u32        │
╞═══════════╪═════════════════════╪════════════╡
│ 205042000 ┆ 2022-12-11 12:23:06 ┆ 139        │
│ 205042000 ┆ 2022-12-11 15:05:03 ┆ 139        │
│ 205042000 ┆ 2022-12-11 16:26:07 ┆ 139        │
│ 205042000 ┆ 2022-12-12 05:32:10 ┆ 139        │
│ 205042000 ┆ 2022-12-12 06:17:11 ┆ 139        │
└───────────┴─────────────────────┴────────────┘

In [ ]:
smalldf = (
    df
    #ensure sorting
    .sort('mmsi', 'time')
    #keep only changes in docking_id
    .filter(df['docking_id']!=df['docking_id'].shift())
    #create indicator for whether id has been seen before
    .with_columns(
        pl.when(pl.col('docking_id').is_in)
    )
)

smalldf.head()

shape: (5, 3)
┌───────────┬─────────────────────┬────────────┐
│ mmsi      ┆ time                ┆ docking_id │
│ ---       ┆ ---                 ┆ ---        │
│ str       ┆ datetime[μs]        ┆ u32        │
╞═══════════╪═════════════════════╪════════════╡
│ 205042000 ┆ 2022-12-26 00:24:27 ┆ 147        │
│ 205042000 ┆ 2022-12-26 04:06:27 ┆ 149        │
│ 205087000 ┆ 2021-04-08 19:29:52 ┆ 335        │
│ 205087000 ┆ 2021-04-12 20:45:31 ┆ 343        │
│ 205087000 ┆ 2021-04-24 00:00:34 ┆ 345        │
└───────────┴─────────────────────┴────────────┘

## Generate Stats

In [3]:
#define calls lazyframe for building stats
calls_lf = (
    lf
    #grouby by port dock and docking id
    .group_by(['port_name', 'dock_id', 'docking_id'])
    .agg(
        #duration of docking_id
        docking_id_duration = (
            pl.col('time').max() - pl.col('time').min()
        ).dt.total_minutes(),
        #vessel mmsi
        mmsi = pl.first('mmsi'),
        #vessel size
        vessel_size = pl.first('length'),
        #time of mooring
        docking_time = (
            pl.when(pl.col('status')==5)
            .then(pl.col('time'))
            .otherwise(pl.lit(None))
            .drop_nulls() #polars .first() evals to null if first val is null
        ).first(),
        #time a berth
        hrs_at_berth = (
            pl.when(pl.col('status')==5)
            .then(pl.col('status_duration'))
            .otherwise(pl.lit(None))
            .sum()/60
        ),
        #time at anchor
        hrs_at_anchor = (
            pl.when(pl.col('status')==1)
            .then(pl.col('status_duration'))
            .otherwise(pl.lit(None))
            .sum()/60
        ),
        #time entering port waters - not working as expected
        time_port_entry =(
            pl.when(pl.col('in_port_waters')==True) #need related port, not any ports
            .then(pl.col('time'))
            .otherwise(pl.lit(None))
            .min()),
        #time in port waters to berth
        hrs_in_port_waters = (
            (pl.when(pl.col('status')==5)
            .then(pl.col('time'))
            .otherwise(pl.lit(None))
            .min()) - 
            (pl.when(pl.col('in_port_waters')==True)
            .then(pl.col('time'))
            .otherwise(pl.lit(None))
            .min())
        ).dt.total_hours(),
        #inspect in port waters
        sum_in_port_waters = pl.col('in_port_waters').sum()
    )
)

In [4]:
calls_lf.limit(5).collect()

shape: (5, 12)
┌────────────┬─────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ port_name  ┆ dock_id ┆ docking_i ┆ docking_i ┆ … ┆ hrs_at_an ┆ time_port ┆ hrs_in_po ┆ sum_in_po │
│ ---        ┆ ---     ┆ d         ┆ d_duratio ┆   ┆ chor      ┆ _entry    ┆ rt_waters ┆ rt_waters │
│ str        ┆ str     ┆ ---       ┆ n         ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│            ┆         ┆ u32       ┆ ---       ┆   ┆ f64       ┆ datetime[ ┆ i64       ┆ u32       │
│            ┆         ┆           ┆ i64       ┆   ┆           ┆ μs]       ┆           ┆           │
╞════════════╪═════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ Seattle,   ┆ 016P    ┆ 8622653   ┆ 21        ┆ … ┆ 0.0       ┆ 2022-08-1 ┆ 0         ┆ 2         │
│ WA         ┆         ┆           ┆           ┆   ┆           ┆ 7         ┆           ┆           │
│            ┆         ┆           ┆           ┆   ┆           ┆ 06:44:02  ┆           ┆           │
│ San Diego  ┆ 0V92    ┆ 1966606   ┆ 27        ┆ … ┆ 0.0       ┆ 2019-01-0 ┆ 0         ┆ 2         │
│ Unified    ┆         ┆           ┆           ┆   ┆           ┆ 2         ┆           ┆           │
│ Port, CA   ┆         ┆           ┆           ┆   ┆           ┆ 01:05:53  ┆           ┆           │
│ Port of    ┆ 0URN    ┆ 6433845   ┆ 174       ┆ … ┆ 0.0       ┆ 2020-10-2 ┆ 2         ┆ 2         │
│ Los        ┆         ┆           ┆           ┆   ┆           ┆ 5         ┆           ┆           │
│ Angeles,   ┆         ┆           ┆           ┆   ┆           ┆ 22:57:58  ┆           ┆           │
│ CA         ┆         ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ Baltimore, ┆ 0YRT    ┆ 1691154   ┆ 84        ┆ … ┆ 0.0       ┆ 2021-06-0 ┆ 1         ┆ 2         │
│ MD         ┆         ┆           ┆           ┆   ┆           ┆ 8         ┆           ┆           │
│            ┆         ┆           ┆           ┆   ┆           ┆ 08:09:21  ┆           ┆           │
│ Baltimore, ┆ 0YZQ    ┆ 2108952   ┆ 6         ┆ … ┆ 0.0       ┆ 2019-07-3 ┆ 0         ┆ 2         │
│ MD         ┆         ┆           ┆           ┆   ┆           ┆ 0         ┆           ┆           │
│            ┆         ┆           ┆           ┆   ┆           ┆ 20:22:33  ┆           ┆           │
└────────────┴─────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [5]:
calls_lf.select('docking_id_duration').describe()

shape: (9, 2)
┌────────────┬─────────────────────┐
│ statistic  ┆ docking_id_duration │
│ ---        ┆ ---                 │
│ str        ┆ f64                 │
╞════════════╪═════════════════════╡
│ count      ┆ 1.376181e6          │
│ null_count ┆ 0.0                 │
│ mean       ┆ 4534.083848         │
│ std        ┆ 48425.784125        │
│ min        ┆ 0.0                 │
│ 25%        ┆ 9.0                 │
│ 50%        ┆ 33.0                │
│ 75%        ┆ 83.0                │
│ max        ┆ 3.285404e6          │
└────────────┴─────────────────────┘

In [6]:
calls_lf.select('docking_id_duration').with_columns(pl.all().replace(0,None)).describe()

shape: (9, 2)
┌────────────┬─────────────────────┐
│ statistic  ┆ docking_id_duration │
│ ---        ┆ ---                 │
│ str        ┆ f64                 │
╞════════════╪═════════════════════╡
│ count      ┆ 1.148967e6          │
│ null_count ┆ 227214.0            │
│ mean       ┆ 5430.721721         │
│ std        ┆ 52952.188826        │
│ min        ┆ 1.0                 │
│ 25%        ┆ 18.0                │
│ 50%        ┆ 45.0                │
│ 75%        ┆ 98.0                │
│ max        ┆ 3.285404e6          │
└────────────┴─────────────────────┘

In [7]:
calls_lf.select('sum_in_port_waters').collect().to_series().value_counts().sort(by='count')

shape: (40, 2)
┌────────────────────┬─────────┐
│ sum_in_port_waters ┆ count   │
│ ---                ┆ ---     │
│ u32                ┆ u32     │
╞════════════════════╪═════════╡
│ 91                 ┆ 1       │
│ 26                 ┆ 1       │
│ 49                 ┆ 1       │
│ 33                 ┆ 1       │
│ 58                 ┆ 1       │
│ 50                 ┆ 1       │
│ 83                 ┆ 1       │
│ 28                 ┆ 1       │
│ 54                 ┆ 1       │
│ 55                 ┆ 1       │
│ 29                 ┆ 2       │
│ 32                 ┆ 2       │
│ 31                 ┆ 2       │
│ 25                 ┆ 2       │
│ 30                 ┆ 2       │
│ 23                 ┆ 3       │
│ 17                 ┆ 3       │
│ 22                 ┆ 3       │
│ 27                 ┆ 3       │
│ 19                 ┆ 4       │
│ 24                 ┆ 4       │
│ 21                 ┆ 4       │
│ 18                 ┆ 5       │
│ 16                 ┆ 6       │
│ 20                 ┆ 6       │
│ 15                 ┆ 10      │
│ 12                 ┆ 12      │
│ 13                 ┆ 14      │
│ 14                 ┆ 14      │
│ 11                 ┆ 22      │
│ 10                 ┆ 36      │
│ 9                  ┆ 52      │
│ 8                  ┆ 142     │
│ 7                  ┆ 163     │
│ 6                  ┆ 742     │
│ 5                  ┆ 786     │
│ 3                  ┆ 5258    │
│ 4                  ┆ 5962    │
│ 1                  ┆ 273037  │
│ 2                  ┆ 1089870 │
└────────────────────┴─────────┘

In [ ]:
#create monthly stats dataframe
monththly_df = (
    calls_lf
    #get month from docking time
    .with_columns(
        #extract month from docking time
        month = pl.col('docking_time').dt.strftime('%Y%m')
    )
    #group by port dock and month
    .group_by(['port_name', 'dock_id', 'month'])
    .agg(
        #count number of vessels
        vessels = pl.n_unique('mmsi'),
        #mean vessel size
        vessel_size_mean = pl.mean('vessel_size'),
        #count number of vessel calls
        calls = pl.n_unique('docking_id'),
        #time at dock stats for each vessel in hours
        hrs_occupied = pl.sum('hrs_at_berth'),
        hrs_at_berth_median = pl.median('hrs_at_berth'),
        hrs_at_berth_mean = pl.mean('hrs_at_berth'),
        #time at anchor stats for each vessel visit in hours
        hrs_at_anchor_median = pl.median('hrs_at_anchor'),
        hrs_at_anchor_mean = pl.mean('hrs_at_anchor'),
        #time in port waters 
        hrs_in_port_waters_total = pl.sum('hrs_in_port_waters'),
        hrs_in_port_waters_mean = pl.mean('hrs_in_port_waters'),
        hrs_in_port_waters_median = pl.median('hrs_in_port_waters')
    )
    #get hours from each month
    .with_columns(
        hrs_in_month = (
            pl.when(pl.col('month').str.tail(2).is_in(['01', '03', '05', '07', '08', '10', '12']))
            .then(31*24)
            .when(pl.col('month').str.tail(2).is_in(['04', '06', '09', '11']))
            .then(30*24)
            .otherwise(28*24)
        )
    )
    .with_columns(
        #dock utilization - percentage of time a dock is occupied
        utilization = (
            pl.col('hrs_occupied')/pl.col('hrs_in_month')
        )
    )
    #drop hours in month
    .drop('hrs_in_month')
    #sort by port dock then month
    .sort(['port_name', 'dock_id', 'month'])
    #collect
    .collect()
)

#inspect
monththly_df.head()

In [ ]:
monththly_df.with_columns(pl.all().replace(0,None)).describe()

In [ ]:
#create annual port stats dataframe
annual_df = (
    calls_lf
    #get year from docking time
    .with_columns(
        #extract year from docking time
        year = pl.col('docking_time').dt.year()
    )
    #group by port dock and month
    .group_by(['port_name', 'dock_id', 'year'])
    .agg(
        #count number of vessels
        vessels = pl.n_unique('mmsi'),
        #mean vessel size
        vessel_size_mean = pl.mean('vessel_size'),
        #count number of vessel calls
        calls = pl.n_unique('docking_id'),
        #time at dock stats for each vessel in hours
        hrs_at_berth_median = pl.median('hrs_at_berth')/60,
        hrs_at_berth_mean = pl.mean('hrs_at_berth')/60,
        #time at anchor stats for each vessel visit in hours
        hrs_at_anchor_median = pl.median('hrs_at_anchor')/60,
        hrs_at_anchor_mean = pl.mean('hrs_at_anchor')/60
    )
    #sort by port then month
    .sort(['port_name', 'year'])
    #collect
    .collect()
)

#inspect
annual_df.head()

In [ ]:
#get point in time stats

#create point in time (pit) df to join stats to
pit_df = (
    lf
    .with_columns(date = pl.col('time').dt.date())
    .select('port_name', 'dock_id', 'month', 'date')
    .unique().collect()
)

for hour in range(0, 24):
    #create a time object for each hour
    hour_dt = pl.time(hour)
    #create a dataframe for each hour
    hour_df = (
        lf
        .with_columns(
            #get end of status time
            end_time = (pl.col('time') + 
                        pl.duration(minutes=pl.col('status_duration'))),
            #get date from time
            date = pl.col('time').dt.date()
        )
        #group by port dock and hour
        .group_by(['port_name', 'dock_id', 'month', 'date'])
        .agg(
            #number of vessels at dock at each hour
            vessels_at_dock = (
                #when moored at hour
                pl.when((pl.col('status')==5) & 
                        (hour_dt.is_between(pl.col('time').dt.time(), 
                                         pl.col('end_time').dt.time())))
                #then count the individual vessels
                .then(pl.col('mmsi'))
                .otherwise(pl.lit(None))
                .drop_nulls() #n_unique counts nulls as unique values
                .n_unique()
            ),
            #number of vessels at anchor at each hour
            vessels_at_anchor = (
                #when anchored at hour
                pl.when((pl.col('status')==1) & 
                        (hour_dt.is_between(pl.col('time').dt.time(), 
                                        pl.col('end_time').dt.time())))
                #then count the individual vessels
                .then(pl.col('mmsi'))
                .otherwise(pl.lit(None))
                .drop_nulls()
                .n_unique()
            )
        )
        .collect()
    )
    #join the hour dataframe to the main dataframe
    pit_df = (
        pit_df
        .join(hour_df, 
              on=['port_name', 'dock_id', 'month', 'date'], 
              how='left')
        #rename the columns to include the hour
        .rename({
            'vessels_at_dock': f'vessels_at_dock_{hour}',
            'vessels_at_anchor': f'vessels_at_anchor_{hour}'
        })
    )

#get port stats by month
pit_df = (
    pit_df
    #group by port and date
    .group_by(['port_name', 'month', 'date'])
    .agg(
        #sum the number of vessels at dock at each hour
        cs.starts_with('vessels_at_dock_').sum(),
        #sum the number of vessels at anchor at each hour
        cs.starts_with('vessels_at_anchor_').sum()
    )
    #get the max at any hour
    .with_columns(
        #get max at dock at any hour
        vessels_at_dock_max = (
            pl.max_horizontal(cs.starts_with('vessels_at_dock_'))
        ),
        #get mean at dock any hour
        vessels_at_dock_mean = (
            pl.mean_horizontal(cs.starts_with('vessels_at_dock_'))
        ),
        #get max at anchor at any hour
        vessels_at_anchor_max = (
            pl.max_horizontal(cs.starts_with('vessels_at_anchor_'))
        ),
        #get mean at anchor any hour
        vessels_at_anchor_mean = (
            pl.mean_horizontal(cs.starts_with('vessels_at_anchor_'))
        )
    )
    #select the columns to keep
    .select(['port_name', 'month', 'date', 'vessels_at_dock_max', 
             'vessels_at_dock_mean', 'vessels_at_anchor_max',
             'vessels_at_anchor_mean'])
    #aggregate by month
    .group_by(['port_name', 'month'])
    .agg(
        #get max at anchor on any date
        vessels_at_anchor_max = pl.max('vessels_at_anchor_max'),
        #get mean at anchor on any date
        vessels_at_anchor_mean = pl.mean('vessels_at_anchor_mean'),
        #get max at dock on any date
        vessels_at_dock_max = pl.max('vessels_at_dock_max'),
        #get mean at dock on any date
        vessels_at_dock_mean = pl.mean('vessels_at_dock_mean'
        )
    )
)

In [ ]:
#inspect
pit_df.head()

In [ ]:



    
    #group by month to get averages
    .group_by(['port_name', 'month'])
    .agg(
        #average number of vessels at dock
        vessels_at_dock_at_noon_mean = pl.mean('vessels_at_dock'),
        #average number of vessels at anchor
        vessels_at_anchor_at_noon_mean = pl.mean('vessels_at_anchor')
    )
    #sort by port then date
    .sort(['port_name', 'month'])
    #collect
    .collect()
)

#inspect
df.head()

#join to stats dfs

In [ ]:
#get means for each port over all time
port_alltime_df = (
    port_monththly_df
    .group_by(['port_name'])
    .agg(
        #average number of vessels at dock
        vessels_at_dock_at_noon_mean = pl.mean('vessels_at_dock_at_noon_mean'),
        #average number of vessels at anchor
        vessels_at_anchor_at_noon_mean = pl.mean('vessels_at_anchor_at_noon_mean'),
        #average time at dock in hours
        hrs_at_berth_median = pl.mean('hrs_at_berth_median'),
        hrs_at_berth_mean = pl.mean('hrs_at_berth_mean'),
        #average time at anchor in hours
        hrs_at_anchor_median = pl.mean('hrs_at_anchor_median'),
        hrs_at_anchor_mean = pl.mean('hrs_at_anchor_mean')
    )
    #sort by port
    .sort(['port_name'])
)

#inspect
port_alltime_df.head()